<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.springboot.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.admin.springboot.adminEntity.UserEntity" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 获取私有网络列表 -->
    <select id="getUserList" parameterType="com.admin.springboot.adminVO.UserVo" resultMap="BaseResultMap" >
        SELECT
        n.id,
        n.`name`
        from rule n
        <where>
            1=1
            <if test="id !='' and id !=null ">
                and    n.id=#{id}
            </if>
            <if test="name !='' and name !=null  ">
                and  n.`name` LIKE CONCAT(CONCAT('%', #{name}), '%')
            </if>

        </where>
    </select>

</mapper>